html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-color: beige;
  border-radius: 85px 0 85px 0;
  box-shadow: 5px 5px;
  margin: 6% 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav div {
  display: flex;
  margin: auto 0;
}
header nav .rightHeader {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 3% 0;
}
@media (max-width: 800px) {
  header nav div img {
    width: 270px;
    height: 90px;
  }
}
html body {
  background-image: url("https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  line-height: 2;
  padding: 0 4%;
  font-family: 'Montserrat', sans-serif;
}
html body h1,
html body h2,
html body h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
}
.bannerLogo {
  position: relative;
  height: 350px;
  box-shadow: 5px 5px;
}
.pSection {
  background-color: beige;
  margin: 5% 0;
  box-shadow: 5px 5px;
  border-radius: 0 25px 25px 0;
  padding: 2%;
}
@media (max-width: 800px) {
  .pSection {
    border-radius: 0 0 25px 0;
  }
}
.workSmarter {
  background-color: beige;
  text-align: center;
  margin: 5% auto;
  width: 25%;
  box-shadow: 5px 5px;
  border-radius: 25px;
}
@media (max-width: 800px) {
  .workSmarter {
    width: 45%;
  }
}
.featuresSection {
  display: flex;
  flex-direction: row;
  margin: 5% 2%;
}
.features {
  margin: 0 3%;
  background-color: beige;
  box-shadow: 5px 5px;
  padding: 2%;
}
@media (max-width: 800px) {
  .featuresSection {
    flex-direction: column;
  }
  .features {
    margin: 3%;
  }
}
.memberContainer h1 {
  background-color: beige;
  text-align: center;
  margin: 3% auto;
  width: 50%;
  box-shadow: 5px 5px;
  font-size: 2rem;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .memberContainer h1 {
    width: 50%;
  }
}
.headShot {
  width: 25%;
  height: 25%;
}
.headShot .headShot:hover {
  background: url() no-repeat;
}
.individualContainer {
  display: flex;
  flex-direction: row;
  margin: 5% 0;
}
.individualContainer img {
  margin: auto 2%;
  border-radius: 50%;
  box-shadow: 5px 5px;
}
.individualContainer a {
  text-decoration: none;
}
@media (max-width: 800px) {
  .individualContainer {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .individualContainer img {
    width: 50%;
  }
}
footer {
  text-align: center;
  background-color: beige;
  border-radius: 25px;
  margin: 3% 0;
}
