html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-color: beige;
  border-radius: 85px 0 85px 0;
  box-shadow: 5px 5px;
  margin: 6% 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}
header nav div {
  display: flex;
  margin: auto 0;
}
header nav .rightHeader {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 3% 0;
}
header nav .rightHeader a {
  text-decoration: none;
  color: black;
}
header nav .rightHeader a:hover {
  filter: drop-shadow(0 0 20px black);
}
@media (max-width: 800px) {
  header nav div img {
    width: 270px;
    height: 90px;
  }
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
html body {
  background-image: url("https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  line-height: 2;
  padding: 0 4%;
  font-family: 'Playfair Display', serif;
  max-width: 900px;
  margin: 0 auto;
}
html body h1,
html body h2,
html body h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
}
html body h2 {
  font-size: 2rem;
  background-color: none;
}
.bannerLogo {
  position: relative;
  height: 350px;
  width: 100%;
  box-shadow: 5px 5px;
}
.pSection div {
  background: rgba(245, 245, 220, 0.6);
  margin: 5% 0;
  box-shadow: 5px 5px;
  border-radius: 0 0 25px 0;
  padding: 2%;
}
.pSection h2 {
  text-shadow: 3px 3px black;
  color: beige;
}
.workSmarter {
  text-align: center;
  margin: 5% auto;
  color: beige;
  text-shadow: 3px 3px black;
}
.featuresSection {
  display: flex;
  flex-direction: row;
  margin: 5% 2%;
}
@media (max-width: 800px) {
  .featuresSection {
    flex-direction: column;
  }
}
.features {
  margin: 0 3%;
  background-color: rgba(245, 245, 220, 0.6);
  box-shadow: 5px 5px;
  padding: 2%;
  width: 25%;
}
@media (max-width: 800px) {
  .features {
    margin: 3% auto;
    width: 90%;
    height: 25%;
  }
}
.features h3 {
  font-size: 18px;
}
.memberContainer h1 {
  background-color: beige;
  text-align: center;
  margin: 3% auto;
  width: 50%;
  box-shadow: 5px 5px;
  font-size: 2rem;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .memberContainer h1 {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .memberContainer h1 {
    width: 55%;
  }
}
.bannerLogoMeet {
  position: relative;
  height: 350px;
  width: 100%;
  box-shadow: 5px 5px;
}
@media (max-width: 800px) {
  .bannerLogoMeet {
    display: none;
  }
}
.individualContainer {
  display: inline-block;
  flex-direction: row;
}
@media (max-width: 800px) {
  .individualContainer {
    flex-direction: column;
    align-items: center;
  }
}
.individualContainer h3 {
  font-size: 18px;
}
.individualContainer .headShot {
  width: 30%;
  height: 30%;
  margin: 0 35%;
  border-radius: 50%;
  box-shadow: 5px 5px black;
}
@media (max-width: 800px) {
  .individualContainer .headShot {
    width: 50%;
    margin: 0 25%;
  }
}
.individualContainer .headShot:hover {
  filter: drop-shadow(0px 0px 20px beige);
  box-shadow: 0 0;
  background-color: rgba(245, 245, 220, 0.4);
}
footer {
  text-align: center;
  background-color: beige;
  border-radius: 25px;
  margin: 3% 0;
  box-shadow: 5px 5px;
}
