.memberContainer h1{
    background-color: beige;
    text-align: center;
    margin: 3% auto;
    width: 50%;
    box-shadow: 5px 5px;
    font-size: 2rem;
    border-radius: 25px;
}
@media @phone{
    .memberContainer h1{
        width: 50%;
    }
}
.headShot{
    width:25%;
    height:25%;
    .headShot:hover {
        background:url() no-repeat; 
    }
}
.individualContainer {
    display: flex;
    flex-direction: row;
    margin: 5% 0;
    img{
        margin: auto 2%;
        border-radius: 50%;
        box-shadow: 5px 5px;
    }
    a{ 
        text-decoration: none;
    }
}
@media @tablet{
    .individualContainer{
        flex-direction: column;
        align-items: center;        
    }
}
@media @phone{
    .individualContainer img{
       width: 50%;
    }
}