header{
    background-color: @mainColor;
    border-radius: 85px 0 85px 0;
    box-shadow: 5px 5px;
    margin: 6% 0;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 auto;
        padding-right: 5%;
        padding-left: 5%;
        div{
            display:flex;
            margin: auto 0;
        }
        .rightHeader {
            display: flex;
            justify-content: space-between;
            width: 40%;
            margin: 3% 0;
            a{
                text-decoration: none;
                color: black;
                &:hover {
                    filter: drop-shadow(0 0 20px black);
                }
            }
          }
    }
}
@media @tablet{
    header nav div img{
        width: 270px;
        height: 90px;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
        a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
    }
  .dropdown {
    float: left;
    overflow: hidden;
        .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        }
    }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
        a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
            background-color: #ddd;
          }
        }
    }      
  .dropdown:hover .dropdown-content {
    display: block;
  }
